<!-- https://github.com/jmgirard/affcomlab/blob/main/ejs/article.ejs も参照 -->
```{=html}
<ul class="list publication-list" reversed>
  <% for (const item of items) { %>
    <li <%=metadataAttrs(item) %>>
      <span class="listing-date"><%= item.date %></span>.
      <span class="listing-author"><%= item.author %></span>.
      <a href="<%- item.path %>">
        <span class="listing-title"><%= item.title %></span>
        <% if (item.subtitle) { %>: <span class="listing-subtitle"><%= item.subtitle %></span><% } %>
      </a>.
      <% if (item["event-title"]) { %>
        <% if (item['event-url']) { %>
          <a href="<%- item['event-url'] %>">
            <span class="listing-publication"><%= item["event-title"] %></span>.
          </a>
        <% } else { %>
          <span class="listing-publication"><%= item["event-title"] %></span>.
        <% } %>
      <% } %>
      <br>
      <% if (item.detail) { %>
      <a href="<%- item.detail %>" class="btn btn-primary">
        Details
      </a>
      <% } %>
      <% if (item.poster) { %>
        <a href="<%- item.poster %>" class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-file-earmark-pdf"></i> Poster
        </a>
      <% } %>
    </li>
  <% } %>
</ul>
```