<!-- https://github.com/jmgirard/affcomlab/blob/main/ejs/article.ejs も参照 -->
```{=html}
<ul class="list publication-list" reversed>
  <% for (const item of items) { %>
    <li <%=metadataAttrs(item) %>>
      <span class="listing-date"><%= item.date %></span>.
      <% if (item.poster["time"]) { %>
        <span class="listing-time"><%= item.poster["time"] %></span>.
      <% } %>
      <span class="listing-author"><%= item.author %></span>.
      <span class="listing-title"><%= item.title %></span>
      <% if (item.subtitle) { %>: <span class="listing-subtitle"><%= item.subtitle %>.</span><% } %>
      <% if (item.poster["event-title"]) { %>
        <% if (item.poster['event-url']) { %>
          <a href="<%- item.poster['event-url'] %>">
            <span class="listing-publication"><%= item.poster["event-title"] %></span>.
          </a>
        <% } else { %>
          <span class="listing-publication"><%= item.poster["event-title"] %></span>.
        <% } %>
      <% } %>
      <% if (item.poster["place"]) { %>
        <span class="listing-place"><%= item.poster["place"] %></span>.
      <% } %>
      <% if (item.poster["note"]) { %>
        <span class="listing-time">（<%= item.poster["note"] %>）</span>
      <% } %>
      <br>
      <a href="<%- item.path %>" class="btn btn-primary">
        Details
      </a>
      <% if (item.poster["poster-pdf"]) { %>
        <a href="<%- item.poster['poster-pdf'] %>" class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-file-earmark-pdf"></i> Poster
        </a>
      <% } %>
      <% if (item.poster["preprint-pdf"]) { %>
        <a href="<%- item.poster['preprint-pdf'] %>" class="btn btn-outline-secondary" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-file-earmark"></i> Preprint
        </a>
      <% } %>
    </li>
  <% } %>
</ul>
```