<!-- https://github.com/jmgirard/affcomlab/blob/main/ejs/article.ejs も参照 -->
```{=html}
<ul class="list publication-list">
  <% for (const item of items) { %>
    <li <%=metadataAttrs(item) %>>
      <span class="listing-date"><%= item.date %></span>.
      <% if (item.slide["time"]) { %>
        <span class="listing-time"><%= item.slide["time"] %></span>.
      <% } %>
      <span class="listing-author"><%= item.author %></span>.
      <span class="listing-title"><%= item.title %></span>
      <% if (item.subtitle) { %>: <span class="listing-subtitle"><%= item.subtitle %>.</span><% } %>
      <% if (item.slide["event-title"]) { %>
        <% if (item.slide['event-url']) { %>
          <a href="<%- item.slide['event-url'] %>">
            <span class="listing-publication"><%= item.slide['event-title'] %></span>.
          </a>
        <% } else { %>
          <span class="listing-publication"><%= item.slide['event-title'] %></span>.
        <% } %>
      <% } %>
      <% if (item.slide["place"]) { %>
        <span class="listing-place"><%= item.slide["place"] %></span>.
      <% } %>
      <br>
      <a href="<%- item.path %>" class="btn btn-primary">
        Details
      </a>
      <% if (item.format["revealjs"]["output-file"]) { %>
        <a href="<%- item.path.replace(/[^/]+$/, '') + item.format["revealjs"]["output-file"] %>" class="btn btn-outline-primary" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-file-earmark"></i> Slide
        </a>
      <% } %>
      <% if (item.slide["pdf"]) { %>
        <a href="<%- item.slide['pdf'] %>" class="btn btn-outline-secondary" target="_blank" rel="noopener noreferrer">
          <i class="bi bi-file-earmark"></i> PDF
        </a>
      <% } %>
    <br>
  <% } %>
</ul>
```