<!-- https://dfolio.fr/posts/2023/2023-08-17_publications.html も参照 -->
```{=html}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons/css/academicons.min.css">
<!-- https://jpswalsh.github.io/academicons/ -->

<ol class="list publication-list" reversed>
  <% for (const item of items) { %>
    <li <%=metadataAttrs(item) %>>
      <div class="publication-info">
        <b><span class="listing-title"><%= item.title %></span></b><br>
        <span class="listing-author"><%= item.author %></span>.
        <span class="listing-date">(<%= item.citation.issued %>)</span>.
        <% if (item["container-title-short"]) { %>
          <span class="listing-publication fst-italic"><%= item["container-title-short"] %></span>.
        <% } else if (item.citation["container-title-short"]) { %>
          <span class="listing-publication fst-italic"><%= item.citation["container-title-short"] %></span>.
        <% } else if (item["container-title"]) { %>
          <span class="listing-publication fst-italic"><%= item["container-title"] %></span>.
        <% } else if (item.citation["container-title"]) { %>
          <span class="listing-publication fst-italic"><%= item.citation["container-title"] %></span>.
        <% } %>

        <br>

        <a href="<%- item.path %>" class="btn btn-primary btn-sm">
          Details
        </a>
        <% if (item.citation.url) { %>
          <a href="<%- item.citation.url %>" class="btn btn-outline-primary btn-sm" target="_blank" rel="noopener noreferrer">
            <i class="ai ai-doi"></i> DOI
          </a>
        <% } %>
        <% if (item.pub["arxiv-url"]) { %>
          <a href="<%- item.pub['arxiv-url'] %>" class="btn btn-secondary btn-sm" target="_blank" rel="noopener noreferrer">
            <i class="ai ai-arxiv"></i> arXiv
          </a>
        <% } %>
        <% if (item.pub["github-url"]) { %>
          <a href="<%- item.pub['github-url'] %>" class="btn btn-dark btn-sm" target="_blank" rel="noopener noreferrer">
            <i class="bi bi-github"></i> GitHub
          </a>
        <% } %>
      </div>
    </li>
  <% } %>
</ol>
```